.app_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 20px;
	min-height: 100vh;
	height: auto;
	padding: 60px 40px;
}
@media (min-height: 800px) {
	.app_wrapper {
		padding: 80px 40px;
	}
}
@media (max-width: 800px) {
	.app_wrapper {
		padding: 40px 20px;
	}
}

.headerImageOfMe {
	display: inline-block;
	border-radius: 100%;
	vertical-align: middle;
	height: 200px;
	width: 200px;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
	background-image: url(../images/me_small.jpg);
	background-position: 50% 50%;
	background-size: 100%;
	background-repeat: no-repeat;
	filter: brightness(1.05) saturate(1.05) contrast(1.05);
	transform: scale(1);
	transition: background-position 0.5s ease, background-size 0.5s ease, filter 0.5s ease, transform 0.5s ease;
}
.headerImageOfMe:hover {
	background-position: 50% 40%;
	background-size: 200%;
	filter: brightness(1.1) saturate(1.1) contrast(1.1);
	transform: scale(0.975);
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	width: 100%;
	max-width: 1000px;
}
@media (max-width: 800px) {
	header {
		flex-direction: row;
	}
	header .headerImageOfMe {
		display: inline-block;
		height: 100px;
		width: 100px;
		flex-shrink: 0;
	}
	header h1 {
		display: inline-block;
		font-size: 60px;
	}
}
@media (max-width: 350px) {
	header {
		flex-wrap: wrap;
	}
}

.tab_content {
	display: block;
	text-align: start;
	width: var(--content-box-width); /* same as header text */
	max-width: 100%;
}

.links_grid {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: 40px 40px;
	align-items: flex-start;
}
.links_grid h3 {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.links_grid h3.no_flex {
	display: block;
}
.links_grid div p {
	margin-block-end: 0;
}
.links_grid div p+p {
	margin-block-start: 6px;
}
.links_grid div p+a button {
	margin-block-start: 10px;
}
@media (max-width: 600px) {
	.links_grid {
		grid-template-columns: auto;
		grid-gap: 10px;
	}
	.links_grid > :nth-child(even) {
		margin-block-end: 30px;
	}
}


a.link_box {
	display: block;

	background: var(--foreground);
	color: var(--background);

	width: var(--content-box-width);
	max-width: 100%;
	padding: 40px;

	transition: box-shadow 0.2s ease;
}
a.link_box h2 {
	margin-block-end: 10px;
}
a.link_box:hover {
	background: var(--foreground);
	color: var(--background);
	box-shadow: 0 0 0 10px var(--primary);
	text-decoration: none;
}
a.link_box p:last-child {
	margin-block-end: 0;
}

.tab_content.article h2 {
	margin-block-end: 10px;
}
.tab_content.article h2 + p {
	margin-block-end: 40px;
}
.tab_content.article h3 {
	font-size: 30px;
	letter-spacing: 0.5px;
	margin-block-start: 40px;
}
.tab_content.article audio,
.tab_content.article video,
.tab_content.article iframe {
	width: 100%;
	margin-block-end: 20px;
}
.tag_row {
	display: inline-flex;
	flex-wrap: wrap;
	gap: 5px;
	align-items: center;
}


.links_grid_item {
	display: flex;
	gap: 20px;
}
.links_grid_item .image_container {
	flex-shrink: 0;
}
.links_grid_item .image_container img {
	width: 200px;
	margin-block-start: 5px;
	border-radius: 5px;
}
@media (max-width: 600px) {
	.links_grid_item {
		flex-direction: column;
		gap: 10px;
		margin-block-end: 40px;
	}
	.links_grid_item .image_container img {
		width: 100px;
	}
}

.image_backdrop_glow {	
	z-index: -1;
	pointer-events: none;
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	transform: translate(-50%, -50%);
	transform-origin: center center;
	filter: blur(10px);
	opacity: 0.2;
	mix-blend-mode: hard-light;
}
.image_backdrop_glow:before {
	content: '';
	z-index: -1;
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	transform: translate(-50%, -50%) scale(0.8, 0.5);
	transform-origin: center center;
	background-image: var(--background-image);
	background-size: cover;
	background-position: center;
	mix-blend-mode: hard-light;
	filter: blur(50px) contrast(100);
	/* animation: scaleGlow var(--duration, 20s) ease-in-out infinite; */
}
@keyframes scaleGlow {
	0% {
		transform: translate(calc(-50% * var(--scale-start, 1)), calc(-50% * var(--scale-start, 1))) scale(calc(2 * var(--scale-start, 1)), 1.2);
		opacity: var(--opacity-start, 1);
	}
	50% {
		transform: translate(calc(-50% * var(--scale-end, 1)), calc(-50% * var(--scale-end, 1))) scale(calc(2 * var(--scale-end, 1)), 1.2);
		opacity: var(--opacity-end, 0.25);
	}
	100% {
		transform: translate(calc(-50% * var(--scale-start, 1)), calc(-50% * var(--scale-start, 1))) scale(calc(2 * var(--scale-start, 1)), 1.2);
		opacity: var(--opacity-start, 1);
	}
}

/* Safari-only hack */
_::-webkit-full-page-media,
.image_backdrop_glow,
.image_backdrop_glow:before {
  display: none;
}


.mygrid {
	width: calc(var(--content-box-width) * 2.5);
	max-width: 100%;
	margin-inline: auto;

	--gap: calc(var(--spacing) * 4);
	--size: calc((var(--content-box-width) - var(--gap))/2);
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--size));
  grid-template-rows: repeat(auto, var(--size));
  grid-auto-flow: row dense;
}
/* @media (width > 48rem) {
	.mygrid {
		width: calc(var(--content-box-width) + 100px);
	}
}
@media (width > 1500px) {
	.mygrid {
		width: calc(var(--content-box-width) * 2.5);
	}
} */




/* @media (width <= 48rem) {
	.mygrid:has(> :only-child) {
		--size: 100%;
		padding-inline: 8px;
    grid-template-columns: var(--size);
	}
} */
@media (width <= 620px) {
	.mygrid {
		--size: 50%;
	}
}
