@import "tailwindcss";
@import "tw-animate-css";
/*---break---*/
@custom-variant dark (&:is(.dark *));

body {
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --text-color: #00150f;
  --background-color: #fff;
  --primary-color: #00845E;

  --content-box-width: 620px;

  --radius: 0.625rem;

  --card: oklch(1 0 0);

  --card-foreground: oklch(0.145 0 0);

  --popover: oklch(1 0 0);

  --popover-foreground: oklch(0.145 0 0);

  --primary: oklch(0.205 0 0);

  --primary-foreground: oklch(0.985 0 0);

  --secondary: oklch(0.97 0 0);

  --secondary-foreground: oklch(0.205 0 0);

  --muted: oklch(0.97 0 0);

  --muted-foreground: oklch(0.556 0 0);

  --accent: oklch(0.97 0 0);

  --accent-foreground: oklch(0.205 0 0);

  --destructive: oklch(0.577 0.245 27.325);

  --border: oklch(0.922 0 0);

  --input: oklch(0.922 0 0);

  --ring: oklch(0.708 0 0);

  --chart-1: oklch(0.646 0.222 41.116);

  --chart-2: oklch(0.6 0.118 184.704);

  --chart-3: oklch(0.398 0.07 227.392);

  --chart-4: oklch(0.828 0.189 84.429);

  --chart-5: oklch(0.769 0.188 70.08);

  --sidebar: oklch(0.985 0 0);

  --sidebar-foreground: oklch(0.145 0 0);

  --sidebar-primary: oklch(0.205 0 0);

  --sidebar-primary-foreground: oklch(0.985 0 0);

  --sidebar-accent: oklch(0.97 0 0);

  --sidebar-accent-foreground: oklch(0.205 0 0);

  --sidebar-border: oklch(0.922 0 0);

  --sidebar-ring: oklch(0.708 0 0);

  --background: oklch(1 0 0);

  --foreground: oklch(0.145 0 0);
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #fff;
    --background-color: #00150f;
    --primary-color: #00d095;
  }
}

:root,
.sans_serif_font {
  --font-family-website-title: "Ubuntu Mono", source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  --font-family-headline: Ubuntu, sans-serif;
  --font-family-text: Ubuntu, sans-serif;
  --font-family-button: Ubuntu, sans-serif;
  --font-family-code: "Ubuntu Mono", source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.serif_font {
  --font-family-headline: Petrona, Ubuntu, serif;
  --font-family-text: Petrona, Ubuntu, serif;
  --font-family-button: Ubuntu, Ubuntu, serif;
  --font-family-code: "Ubuntu Mono", source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth !important;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  transition: color .2s ease, background .2s ease;
  padding-block-end: 25vh;
}

body, p, h4, h5, h6, li {
  font-family: var(--font-family-text);
  font-weight: 300;
  font-size: 22px;
  letter-spacing: 0.5px;
  line-height: 1.2;
}

.body2 {
  font-family: var(--font-family-text);
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.25px;
}

h1 {
  font-family: var(--font-family-website-title);
  font-weight: bold;
  font-size: 110px;
  letter-spacing: -1.5px;
  line-height: 0.8;
}

h2 {
  font-family: var(--font-family-headline);
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 40px;
}

h3 {
  font-family: var(--font-family-headline);
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0px;
}
h3.big {
  font-size: 30px;
  letter-spacing: 0.5px;
}
h3+p,
h4+p,
h5+p,
h6+p,
h3+h4,
h3+h5,
h3+h6,
h4+h5,
h4+h6,
h5+h6 {
  margin-top: 0.5rem;
}

h4, h5, h6 {
  font-family: var(--font-family-headline);
  font-weight: bold;
}

img {
  max-width: 100%;
}

button {
  font-family: var(--font-family-button);
  text-decoration: none;

  font-size: inherit;
  letter-spacing: inherit;

  /* text-transform: uppercase; */
  border: 0;
  font-weight: bold;
  cursor: pointer;

	padding: 10px 20px;
	border-radius: 100px;
	color: var(--background-color);
	fill: var(--background-color);
	background: var(--text-color);
	font-weight: bold;

  --shadow-width: 0px;
  --shadow-color: var(--text-color);
  --shadow-amount: 0;
  box-shadow:
    /* this gets rid of a weird 0.1px gap between box and shadow */
    inset 0 0 calc(1px * var(--shadow-amount)) calc(1px * var(--shadow-amount)) var(--shadow-color),
    0 0 0 calc(var(--shadow-width) * var(--shadow-amount)) var(--shadow-color),
    0 0 calc(1px * var(--shadow-amount)) calc(1px * var(--shadow-amount)) var(--shadow-color);

	transition: box-shadow 0.2s ease;
}
button.small {
  padding: 5px 10px;
  font-size: 14px;
}
button[data-selected="true"] {
  --shadow-width: 5px;
  --shadow-amount: 1;
}
button:not(:disabled):hover {
  --shadow-width: 10px;
  --shadow-amount: 1;
	color: var(--background-color);
	fill: var(--background-color);
	background: var(--text-color);
	text-decoration: none;
}
button.small:not(:disabled):hover {
  --shadow-width: 5px;
  --shadow-amount: 1;
}
button:not(:disabled):active,
button:not(:disabled):focus,
button:not(:disabled).active,
a.active button:not(:disabled) {
	color: var(--background-color);
	fill: var(--background-color);
	background: var(--primary-color);
  --shadow-color: var(--primary-color);
	text-decoration: none;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

code {
  font-family: var(--font-family-code);
}

a,
.link {
  color: var(--primary-color);
  text-decoration: none;
  text-decoration-color: var(--primary-color);
}

a:hover,
.link:hover {
  color: var(--primary-color);
  text-decoration: underline;
  /* text-decoration-style: double; */
  text-decoration-color: currentColor;
}

a.inherit_color {
  color: inherit;
  text-decoration-color: inherit;
}

hr {
  border: 0;
  height: 0.8rem;
  background-color: var(--text-color);
  margin: 40px 0;
  border-radius: 0.8rem;
}
hr.small {
  border: 0;
  height: 1px;
  background-color: var(--text-color);
  margin: 0;
}

p, ul, ol {
  margin-block-end: 20px;
}

ul, ol {
  margin-inline-start: 1.5rem;
}

/*---break---*/

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

/*---break---*/

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

/*---break---*/

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
