@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --breakpoint-xs: 30rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

/*---break---*/

body {
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --content-box-width: 620px;
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.54 0.114881 164.5621);
  --primary-foreground: oklch(0.982 0.018 155.826);
  --secondary: oklch(0.141 0.005 285.823);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.0334 173.21);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: var(--primary);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: oklch(0.982 0.018 155.826);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.0334 173.21);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: var(--primary);
}
.dark {
  --background: oklch(0.17 0.0334 173.21);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.0334 173.21);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.0334 173.21);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.76 0.1616 164.09);
  --primary-foreground: oklch(0.17 0.0334 173.21);
  --secondary: oklch(1 0 0);
  --secondary-foreground: oklch(0.17 0.0334 173.21);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.0334 173.21);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: var(--primary);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.0334 173.21);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: oklch(0.393 0.095 152.535);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: var(--primary);
}

:root,
.sans_serif_font {
  --font-family-website-title:
    "Ubuntu Mono", source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  --font-family-headline: Ubuntu, sans-serif;
  --font-family-text: Ubuntu, sans-serif;
  --font-family-button: Ubuntu, sans-serif;
  --font-family-code:
    "Ubuntu Mono", source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.serif_font {
  --font-family-headline: Petrona, Ubuntu, serif;
  --font-family-text: Petrona, Ubuntu, serif;
  --font-family-button: Ubuntu, Ubuntu, serif;
  --font-family-code:
    "Ubuntu Mono", source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth !important;
} */

body {
  background: var(--background);
  color: var(--foreground);
  transition:
    color 0.2s ease,
    background 0.2s ease;
  padding-block-end: 25vh;
}

body,
p,
h4,
h5,
h6,
li {
  font-family: var(--font-family-text);
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 1.2;
}

.body2 {
  font-family: var(--font-family-text);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.25px;
}

strong {
  font-weight: 800;
}

/*
h1 {
  font-family: var(--font-family-website-title);
  font-weight: bold;
  font-size: 110px;
  letter-spacing: -1.5px;
  line-height: 0.85;
}
*/

h1 {
  line-height: 1.1;
}

h1,
h2,
h3 {
  font-family: var(--font-family-headline);
}

/*
h3+p,
h4+p,
h5+p,
h6+p,
h3+h4,
h3+h5,
h3+h6,
h4+h5,
h4+h6,
h5+h6 {
  margin-top: 0.5rem;
}
*/

h4,
h5,
h6 {
  font-family: var(--font-family-headline);
  font-weight: bold;
}

img {
  max-width: 100%;
}

.OLDSTYLES button {
  font-family: var(--font-family-button);
  text-decoration: none;

  font-size: inherit;
  letter-spacing: inherit;

  /* text-transform: uppercase; */
  border: 0;
  font-weight: bold;
  cursor: pointer;

  padding: 10px 20px;
  border-radius: 100px;
  color: var(--background);
  fill: var(--background);
  background: var(--foreground);

  --shadow-width: 0px;
  --shadow-color: var(--foreground);
  --shadow-amount: 0;
  /* this gets rid of a weird 0.1px gap between box and shadow */
  box-shadow:
    inset 0 0 calc(1px * var(--shadow-amount)) calc(1px * var(--shadow-amount))
    var(--shadow-color),
    0 0 0 calc(var(--shadow-width) * var(--shadow-amount)) var(--shadow-color),
    0 0 calc(1px * var(--shadow-amount)) calc(1px * var(--shadow-amount))
    var(--shadow-color);

  transition: box-shadow 0.2s ease;
}
.OLDSTYLES button.small {
  padding: 5px 10px;
  font-size: 14px;
}
.OLDSTYLES button[data-selected="true"] {
  --shadow-width: 5px;
  --shadow-amount: 1;
}
.OLDSTYLES button:not(:disabled):hover {
  --shadow-width: 10px;
  --shadow-amount: 1;
  color: var(--background);
  fill: var(--background);
  background: var(--foreground);
  text-decoration: none;
}
.OLDSTYLES button.small:not(:disabled):hover {
  --shadow-width: 5px;
  --shadow-amount: 1;
}
.OLDSTYLES button:not(:disabled):active,
.OLDSTYLES button:not(:disabled):focus,
.OLDSTYLES button:not(:disabled).active,
.OLDSTYLES a.active button:not(:disabled) {
  color: var(--background);
  fill: var(--background);
  background: var(--primary);
  --shadow-color: var(--primary);
  text-decoration: none;
}
.OLDSTYLES button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

code {
  font-family: var(--font-family-code);
}

a,
.link {
  color: var(--primary);
  text-decoration: none;
  text-decoration-color: var(--primary);
}

a:hover,
.link:hover {
  color: var(--primary);
  text-decoration: underline;
  /* text-decoration-style: double; */
  text-decoration-color: currentColor;
}

a.inherit_color {
  color: inherit;
  text-decoration-color: inherit;
}

ul,
ol {
  margin-block-end: 20px;
  margin-inline-start: 1.5rem;
}

/*---break---*/

@layer base {
  * {
    @apply border-border outline-ring/60;
  }
  body {
    @apply bg-background text-foreground;
  }
}
