

.pageTitle {
	margin: 60px 30px;
}

.headerImageOfMe {
	display: inline-block;
	border-radius: 100%;
	vertical-align: middle;
	height: 200px;
	width: 200px;
	background-image: url(../images/me_small.jpg);
	background-position: 50% 50%;
	background-size: 100%;
	filter: brightness(1.05) saturate(1.05) contrast(1.05);
	transform: scale(1);
	transition: background-position 0.5s ease, background-size 0.5s ease, filter 0.5s ease, transform 0.5s ease;
}
.headerImageOfMe:hover {
	background-position: 50% 40%;
	background-size: 200%;
	filter: brightness(1.1) saturate(1.1) contrast(1.1);
	transform: scale(0.975);
}
		