
:root{
	--text-color: #212121;
	--background-color: #fff;
	--secondary-background-color: #f5f5f5;
	--border-color: #e0e0e0;
	--secondary-color: #2962FF;
	--font-family: Roboto, sans-serif;
}
@media (prefers-color-scheme: dark) {
	:root{
		--text-color: #ECEFF1;
		--background-color: #1e1e1e;
		--secondary-background-color: #121212;
		--border-color: #333;
		--secondary-color: #2962FF;
	}
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

body{
	background: var(--secondary-background-color);
	color: var(--text-color);
	transition: color .2s ease, background .2s ease;
}

#pages,
#DataProtection{
	display: none;
}

